<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relax Project</title>
    <link rel="stylesheet" href="{{url_for('static', path='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .flex{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar">
            <span></span>
            <div class="logo">Psycho Technicians</div>
            <ul class="menu">
                <li><a href="/gita">gita saar</a></li>
            </ul>
            <a class="btn" href="https://ravikishan.me" target="_blank">contact</a>
        </nav>
    </header>

    <div class="wrapper">
        <section class="video-section">
            <div class="video-container">
                <video src="{{url_for('assets', path='media/flower.mp4')}}" autoplay loop muted></video>
            </div>
            <div class="img-container">
                <img src="{{url_for('assets', path='media/window.png')}}" alt="" class="img">
            </div>

            <div class="text-content">
                <div class="img_txt">
                    <div class="title sm left">
                        <span>between</span>
                    </div>
                    <div class="title bg left">
                        <span>Reality</span>
                    </div>
                    <div class="title bg right n">
                        <span>&</span>
                    </div>
                    <div class="title bg right">
                        <span>Intelligence</span>
                    </div>
                </div>
                <p class="txt-bottom">
                    Let's deep into the world of artificail intelligence
                </p>
            </div>

            <div class="v_container">
                <div class="left-side">
                    <div class="tv">
                        <div class="bg">Jump</div>
                        <div class="sm">of the</div>
                        <div class="bg bottom">Cliff</div>
                    </div>
                    <div class="text-container">
                        <p>
                            This project is about the future of natural language processing and artificial intelligence.
                        </p>
                        <p>
                            We are trying to show how LLM can be used in the future to understand the context of the Human language.
                        </p>
                    </div>
                </div>
                <div class="right-side">
                    <p>Gita Saar <i class="fa-solid fa-arrow-right-long"></i></p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="boxes-container">
                <div class="columns box1">
                    <div class="col col-1">
                        <img src="https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="">
                        <img src="https://images.unsplash.com/photo-1534723328310-e82dad3ee43f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=436&q=80" alt="">
                    </div>
                    <div class="col-2">
                        <h1>Artificial Intelligence</h1>
                        <span>Working With Intelligent Machines </span>
                        <div class="line"></div>
                        <div class="text-box">
                            <p>
                                We are working with the future of the artificial intelligence. We are trying to make the machines understand the context of the human language and make them work with the human language.
                            </p>
                            
                        </div>
                    </div>
                    <div class="col col-3">
                        <img src="https://images.unsplash.com/photo-1623276527153-fa38c1616b05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80" alt="">
                        <img src="https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="">
                        <img src="https://images.unsplash.com/photo-1553484771-371a605b060b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="">
                    </div>
                </div>
                <div class="columns box2">
                    <div class="col col-1">
                        <img src="https://images.unsplash.com/photo-1516110833967-0b5716ca1387?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="">
                        <img src="https://e1.pxfuel.com/desktop-wallpaper/86/360/desktop-wallpaper-pol-lord-krishna-and-arjuna.jpg" alt="">
                    </div>
                    <div class="col-2">
                        <h1>Gita Saar</h1>
                        <span>Ask to Gita</span>
                        <div class="line"></div>
                        <div class="text-box">
                            <p>
                                This is a project to understand the useful insights from the holy book of hinduism, Bhagwat Gita. We are trying to make it understand the context of the Bhagwat Gita and make it answer the questions about the Bhagwat Gita.
                            </p>
                           
                        </div>
                    </div>
                    <div class="col col-3">
                        <img src="https://e1.pxfuel.com/desktop-wallpaper/801/580/desktop-wallpaper-amazon-in-buy-srimad-bhagavad-gita-yatharuup-krishna-virat-roop.jpg" alt="">
                        <img src="https://w0.peakpx.com/wallpaper/4/517/HD-wallpaper-religion-book-christian-full-screen-hindu-muslim-unity.jpg" alt="">
                        <img src="https://w0.peakpx.com/wallpaper/158/542/HD-wallpaper-jai-shree-krishna-bhagwan-lord-radhe-shree-krishna-shri-krishna.jpg" alt="">
                    </div>
                </div>
                <div class="columns box3">
                    <div class="col col-1">
                        <img src="https://images.unsplash.com/photo-1518770660439-4636190af475?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                        <img src="https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                        <img src="https://images.unsplash.com/photo-1477238134895-98438ad85c30?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                        <img src="https://images.unsplash.com/photo-1508666709797-f0bb3d96324d?q=80&w=2061&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <div class="col-2">
                        <h1>NLP</h1>
                        <span>Natural Language Processing</span>
                        <div class="line"></div>
                        <div class="text-box">
                            <p>
                                Natural Language Processing is a subfield of artificial intelligence that deals with the interaction between computers and humans using natural language. The ultimate objective of NLP is to read, decipher, understand, and make sense of the human languages in a valuable manner.
                            </p>
                        </div>
                    </div>
                    <div class="col col-3">
                        <img src="https://images.unsplash.com/photo-1675557570482-df9926f61d86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1331&q=80" alt="">
                    </div>
                </div>
                <div class="columns box4 flex">
                    <a href="/gitapage" class="redirectButton">Documentation</a>
                    <a href="/gitaanalysis" class="redirectButton">Gita Analysis</a>
                    <a href="/gita" class="redirectButton">Project</a>
                </div>
            </div>
        </section>
    </div>


    <footer>
        <div class="logo"><a href="#">Relax</a></div>
        <a class="btn"  href="https://ravikishan.me" target="_blank">contact</a>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.5/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
<script src="{{url_for('static', path='script.js')}}"></script>

</html>